@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Yanone+Kaffeesatz:400,200);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #000;
	
}

h1,h2, h3, h4 {
	
}


#wrapper {
	
}

#header {
	width: 1100px;
	margin-left: 83px;
	margin-bottom: 20px;
	margin-right: 60px;
	display: inline-block;
	border-bottom: 1px solid rgba(88,183,126,0.75);
}

#header h1 {
	font-size: 58px;
	font-weight: 100;
	margin-bottom: 5px;

}

#logo {
	margin-top: 18px;
	display: inline-block;
	
}
#navbar {
	margin-top: 34px;
	max-height: 30px;
	display: inline-block;
	float: right;
	text-align: center;
	padding-bottom: 10px;

}

.shopping_cart_img {
	padding-left: 10px;
	vertical-align: bottom;
	
}

#shopping_cart_preview {
	position: absolute;
	margin-top: 10px;
	height: 400px;
	width: 250px;
	display: none;
	border: 1px solid #000;
	
}

 ul, li {
	display: inline-block;
	cursor: pointer;
	
}

#navbar li {
	padding: 5px 15px 10px 15px;

}

#navbar li:hover {
	background:  rgba(88,183,126,0.75);
}



#shopping_cart {
	margin-right: 20px;
	display: inline-block;
}

#content {
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	
}

#two_categories_top {
	width: 1000px;
	margin: 0 auto;
}

#category_one {
	background: url("../img/urban.jpg");
	width: 430px;
	height: 600px;
	margin-right: 50px;
	display: inline-block;
}

#category_two {
	background: url("../img/adventure.jpg");
	height: 600px;
	width: 430px;
	display: inline-block;	
}

#four_columns {
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#four_columns img {
	margin-right: 33px;
}



#about_link {
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#shoes_link {
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#environment_link {

}

#footer {
	background: #e2e8e5;
}

.offers {
	color: #fff;
}

#social_media_container {
	padding-top: 10px;
	width: 1100px;
	margin: 0 auto;
	height: 80px;
	border-bottom: 1px solid #000 ;
	border-top: 1px solid #000 ;
}

#social_media_logos {
	margin-right: 30px;
	display: inline-block;
	width: 330px;
}

#newsletter {
	margin-top: 10px;
	display: inline-block;
	width: 730px;
	height: 90px;
	vertical-align: middle;
}

#newsletter input[type="text"] {
	height: 35px;
	width: 200px;
	margin-left: 25px;
	padding-left: 10px;

}

#newsletter input[type="submit"] {
	height: 40px;
	width: 130px;
	border: 0px;
	margin-left: 25px;
	background-color: #9adaac;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
}


/** PRODUCT PAGE **/
#slideshow {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	
}

#slideshow img {
	width: 450px;
	height: 300px;
}

#product_content {
	width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
}

#product_categories h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

#product_content li {
	display: block;
}

#product_content ul {
	margin-bottom: 15px;
	display: block;	
}

#product_categories {
	border-right: 1px solid #000 ;
	width: 200px;
	display: inline-block;
}

#product_categories a {

	
}

#products {
	width: 800px;
	display: inline-block;	
	float: right;
	margin-right: 30px;
}

#products td {
	text-align: center;
}

#products img {
	width: 300px;
	
}

.product_title {
	padding-left: 15px;
}

.product_price {
	padding-left: 55px;
}

#products input[type="submit"] {
	height: 25px;
	width: 110px;
	border: 0px;
	margin-left: 20px;
	margin-top: 10px;
	background-color: #9adaac;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	cursor: pointer;
}



/** SINGLE PRODUCT PAGE **/


#single_item_page {
	width: 1100px;
	margin: 0 auto;
}

#product {
	padding-bottom: 40px;
	border-bottom: 1px solid  rgba(0,0,0,0.27);
}

#product_image {
	padding-top: 80px;
	display: inline-block;
	width: 450px;
} 

#more_images {
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}

#more_images img {
	width: 115px;
	
}

#product_image img {
	max-width: 450px;	
}

#product_info {
	display: inline-block;
	text-transform: uppercase;
	vertical-align: top;
	margin: 80px 0 0 90px;
	width: 400px;
}

#product_info input[type="submit"] {
	height: 40px;
	width: 330px;
	border: 0px;
	margin-top: 10px;
	background-color: #9adaac;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 4px;
}

#product_info select {
	height: 40px;
	width: 150px;
	border: 0px;
	margin-right: 27px;
	margin-top: 10px;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}
#social_media_logos_single_item {
	margin-left: 90px;
}

#social_media_logos_single_item img{
	margin-top: 10px;
	width: 36px;
	display: inline;
}

#releted_products {
	
}

#environmental_stuff {
	
}

#product_info p {
	margin-bottom: 10px;
	line-height: 130%;
}

.product_name {
	font-size: 36px;	
}

.about_product {
	font-size: 14px;
	text-transform: none;
}

.environment_info {
	
}

.price {
	font-size: 28px;
	color: #9adaac;
	font-weight: 400;
}

.options {
	text-align: center;
}